* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    list-style: none !important;
    text-decoration: none !important;
}

.col-none {
    padding-right: 0;
    padding-left: 0;
}

/* All-nav-start */

.header_menu {
    padding: 35px 0;
    position: absolute;
    width: 100%;
    top: 0;
}

.header_menu .header-navbar-brand {
    font-size: 26px;
    color: #333136;
    letter-spacing: 8px;
    line-height: 5px;
    text-transform: uppercase;
}

.header_menu .header-nav-link {
    font-size: 14px;
    color: #333136;
    line-height: 14px;
    letter-spacing: 2px;
    margin-right: 30px;
}

/* All-nav-end */

/* ***************************************************** */

 .header_design {
    background: url(../img/Group\ 6.png) no-repeat center center /cover;
    padding-top:  55px;
    padding-bottom: 60px;
    margin-top: 120px;
    border-radius: 10px
}

.header_design h1 {
    font-size: 48px;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 48px;
    margin-bottom: 24px;
}

.header_design p {
    font-size: 17px;
    color: #FFFFFF;
    line-height: 26px;
}

/* header-end */

/* ***************************************************** */

/* Section-start */

section {
    background: url(../img/Rectangle.png) no-repeat ;
}

.section_paper {
    padding-top: 130px;
}

.section_paper .mobile {
    background: #2E3947;
    border-radius: 15px 15px 0px 0px;
}

.section_paper .eyecam {
    background: #34B7A2;
    border-radius: 15px 15px 0px 0px;
}

.section_paper .faceit {
    background: #3F2F83;
    border-radius: 15px 15px 0px 0px;
}

.section_paper .todo {
    background: #40125A;
    border-radius: 15px 15px 0px 0px;
}

.section_paper .loop {
    background: #853A4D;
    border-radius: 15px 15px 0px 0px;
}

.section_paper img {
    max-width: 100%;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

section .section_paper .box {
    background: #FDF3F0;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    padding: 25px 32px 15px 32px;
}

.section_paper .box h5 {
    font-size: 20px;
    color: #E7816B;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 5px;
}

.section_paper .box p {
    font-size: 16px;
    color: #333136;
    line-height: 26px;
    margin-top: 10px;
}

.section_card {
    margin-top: 150px;
    margin-bottom: 150px;
}

.section_card .app_design {
    background: url(../img/Object.png) no-repeat center center /cover;
    padding: 110px 0;
    border-radius: 8px;
}

.section_card .graphic_design {
    background: url(../img/Object1.png) no-repeat center center /cover ;
    padding: 110px 0;
    border-radius: 8px;
}

.section_card .web_design {
    background: url(../img/Object2.png) no-repeat center center /cover;
    padding: 110px 0;
    border-radius: 8px;
}

.section_card .app_design h3, .graphic_design h3, .web_design h3 {
    font-size: 35px;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 2px;
}

.section_card .app_design p, .graphic_design p, .web_design p {
    font-size: 15px;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 20px;
}

/* About-page-start */

/* header-start */

.header_about_us {
    margin-top: 130px;
}

.header_about_us .about_us_text {
    background: url(../img/Group\ 6.png) no-repeat center center/cover;
    padding: 205px 97px 135px 95px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.about_us_text h1 {
    font-size: 48px;
    color: #FFFFFF;
    font-weight: 500;
    margin-bottom: 30px;
}

.about_us_text p {
    font-size: 17px;
    color: #fff;
    line-height: 26px;
}

.header_about_us img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px
}

/* header-end */

/* ********************************************** */

/* section-start */

.talent {
    margin-top: 87px;
}

.talent img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.talent_text {
    background:url(../img/Group\ 6\ -1.png) no-repeat center center /cover;
    padding: 170px 90px;
}

.talent .talent_text h2 {
    font-size: 40px;
    color: #E7816B;
    font-weight: 500;
    margin-bottom: 26px;
}

.talent .talent_text p {
    font-size: 16px;
    color: #333136;
}

.talent_text .our_team {
    margin-top: 20px;
}

/* About-page-end */

/* ******************************************** */

/* Media-start */

@media (max-width:991px) {
    header .navbar-collapse {
        background: #fff;
        padding: 20px;
        border-radius: 15px ;
        margin-top: 15px;
    }
}

@media (max-width:676px) {
    .header_about_us .about_us_text {
        padding: 110px 44px 85px 74px;
    }
}