* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    list-style: none !important;
    text-decoration: none !important;
}

header .header_design {
    background: url(../img/Group\ 6.png) no-repeat center center /cover;
    padding-top: 60px;
    padding-bottom: 55px;
}

.header_design h1 {
    font-size: 48px;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 48px;
    margin-bottom: 24px;
}

.header_design p {
    font-size: 17px;
    color: #FFFFFF;
    line-height: 26px;
}

.section_paper img {
    max-width: 100%;
    width: 100%;
}

section .section_paper .box {
    background: #FDF3F0;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    padding: 25px 32px 15px 32px;
}

.section_paper .box h5 {
    font-size: 20px;
    color: #E7816B;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 5px;
}

.section_paper .box p {
    font-size: 16px;
    color: #333136;
    line-height: 26px;
    margin-top: 10px;
}