.project {
    width: 100%;
    text-align: center;
    padding: 57px 0 145px 0;
    background-image: url('../images/project.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -265px;
    margin-bottom: 80px;
    border-radius: 15px;

    &__heading {
        font-family: 'Jost';
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 40px;
        color: #fff;
        max-width: 335px;
        text-align: center;
        margin: 0;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    &__paragraph {
        font-family: 'Jost';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        margin: 0 auto;
        margin-bottom: 32px;
        max-width: 450px;
        color: #FFFFFF;
    }
}